body {
   background-color: #15202B;
}


.container {
   width: 90%;
   margin: 55px auto;
}


h1 {
   color: white;
   font-size: 35px;
   text-align: center;
   font-weight: bolder;
   margin-bottom: 25px;
   letter-spacing: 10px;
   font-family: monospace;
}

hr {
   width: 500px;
   margin-bottom: 65px;
   border: 3px dashed whitesmoke;
}


.min input[type="radio"],
.max input[type="radio"] {
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.min label,
.max label {
   color: white;
   cursor: pointer;
   font-size: 20px;
   margin-left: 7px;
   font-weight: bold;
   letter-spacing: 1px;
   font-family: monospace;
}

.min,
.max {
   text-align: center;
   margin-bottom: 30px;
}


.properties-field {
   display: flex;
   margin: 50px 0 30px 0;
   justify-content: space-around;
}

.input-form label {
   color: white;
   font-size: 20px;
   font-family: monospace;
}

.input-form textarea {
   width: 100%;
   outline: none;
   padding: 15px;
   display: block;
   font-size: 18px;
   margin-top: 17px;
   color: whitesmoke;
   white-space: pre-line;
   box-sizing: border-box;
   border: 1px solid #38444d;
   background-color: rgb(37, 51, 65);
   transition: background-color 0.2s;
}

.result textarea {
   transition: none;
}

.input-form textarea:focus {
   background-color: #38444d;
}

.input-form textarea::placeholder {
   font-family: monospace;
}


.buttons {
   display: flex;
   justify-content: center;
}

.buttons .btn-one,
.buttons .btn-two {
   border: none;
   width: 300px;
   padding: 10px;
   outline: none;
   color: #ffffff;
   font-size: 20px;
   cursor: pointer;
   transition: 0.2s;
   margin-top: 45px;
   letter-spacing: 2px;
   margin-bottom: 10px;
   margin: 35px 35px 0 0;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #253341;
   transition: color 0.2s, background-color 0.2s;
}

.buttons .btn-one:hover,
.buttons .btn-two:hover {
   color: #87cefa;
   background-color: #192734;
}

.buttons .btn-one:disabled {
   pointer-events: none;
}

.buttons .btn-two:disabled {
   pointer-events: none;
}